In [1]:
import os
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set_theme()

In [4]:
filename = os.path.join(os.getcwd(),"master dataset 2023.csv")
df = pd.read_csv(filename, header=0)

In [5]:
df.shape

(234, 35)

In [6]:
df.head()

,oblast_or_country,pcode,# total population,# female population,# male population,# female younger population (0 - 14 years),# male younger population (0 - 14 years),# total younger population (0 - 14 years),# female older population (60 years and up),# male older population (60 years and up),...,# battles,# explosions/remote violence,# violence against civilians,# fatalities,# civilian fatalities,# civilian injuries,# total infrastructure damage,# total access events,# unemployed people,period
0,Cherkaska,UA71,1157115,624475,532640,75552,81536,157088,196700,110769,...,0,0,0,0,0.0,0.0,0,1,7034.0,Jan2023
1,Chernihivska,UA74,950773,518447,432326,61356,64084,125440,174896,90800,...,0,60,0,0,0.0,0.0,0,2,6347.0,Jan2023
2,Chernivetska,UA73,887392,468777,418615,73482,78391,151873,116988,69688,...,0,0,0,0,NaN,0.0,0,0,2057.0,Jan2023
3,Dnipropetrovska,UA12,3093176,1680750,1412426,226943,240091,467034,503014,265558,...,0,69,0,51,0.0,0.0,57,1,12749.0,Jan2023
4,Donetska,UA14,4046487,2207252,1839235,204708,218811,423519,810872,465603,...,499,1128,2,1883,NaN,NaN,59,31,6668.0,Jan2023